
/* Sidebar container */
#sidebar {
    position: fixed;
    top: 200px;
    width: 320px;
    background-color: #333;
    color: #fff;
    height: calc(100vh - 250px);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

#sidebar a {
    font-size: 16px;
}

/* Base menu styles */
.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    cursor: pointer;
    list-style-type: none;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333333;
}

/* Submenu styling */
.submenu {
    list-style-type: none;
    display: none;
}

/* Arrow controls */
.arrow {
    transition: transform 0.3s;
}

.arrow.down {
    transform: rotate(90deg);
}

/* Toggle button */
.toggle-btn {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-image: linear-gradient(to top, #0f0f0f, #616161);
    color: white;
    border: 1px solid #8f8f8f;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Highlight patterns for different sections */
.sidebar-menu li:nth-child(4).active .submenu li a { 
    background-color: #386aa5; 
}

.sidebar-menu li:nth-child(5).active .submenu li a { 
    background-color: #a23854; 
}

.sidebar-menu li:nth-child(6).active .submenu li a { 
    background-color: #36834f; 
}

.sidebar-menu li:nth-child(7).active .submenu li a { 
    background-color: #9d7521; 
}

/* Level 2 highlighting */
.sidebar-menu li:nth-child(4) .submenu li.active .submenu li a { 
    background-color: #193755; 
}

.sidebar-menu li:nth-child(5) .submenu li.active .submenu li a { 
    background-color: #571b2b; 
}

.sidebar-menu li:nth-child(6) .submenu li.active .submenu li a { 
    background-color: #184226; 
}

.sidebar-menu li:nth-child(7) .submenu li.active .submenu li a { 
    background-color: #6c5117; 
}

/* Level 3 highlighting */
.sidebar-menu li:nth-child(4) .submenu li.active .submenu li.active .submenu li a { 
    background-color: #0c243c; 
}

.sidebar-menu li:nth-child(5) .submenu li.active .submenu li.active .submenu li a { 
    background-color: #330f19; 
}

.sidebar-menu li:nth-child(6) .submenu li.active .submenu li.active .submenu li a { 
    background-color: #06140a; 
}

.sidebar-menu li:nth-child(7) .submenu li.active .submenu li.active .submenu li a { 
    background-color: #3f300e; 
}

/* Level 4 highlighting */
.sidebar-menu li:nth-child(4) .submenu li.active .submenu li.active .submenu li.active .submenu li a { 
    background-color: #050d15; 
}

.sidebar-menu li:nth-child(5) .submenu li.active .submenu li.active .submenu li.active .submenu li a { 
    background-color: #080304; 
}

.sidebar-menu li:nth-child(6) .submenu li.active .submenu li.active .submenu li.active .submenu li a { 
    background-color: #000000; 
}

.sidebar-menu li:nth-child(7) .submenu li.active .submenu li.active .submenu li.active .submenu li a { 
    background-color: #151005; 
}

/* Hover effects */
.sidebar-menu li a:hover,
.sidebar-menu .submenu li a:hover,
.sidebar-menu .submenu .submenu li a:hover {
    filter: brightness(150%);
    color: #ffa861;
    text-shadow: 1px 1px 10px #ff0000;
}

/* Countdown timer */
#countdowntimer {
    display: block;
    margin: 20px auto;
    max-width: 500px;
    border: solid 2px #04034f;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#countdowntimer h1 {
    background-color: #a4c4fe;
}

#countdowntimer h1, 
#countdown {
    color: black;
    font-size: 40px;
    border: none;
    padding: 10px;
    font-family: Arial;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .toggle-btn {
        display: block;
        position: fixed !important;
        top: 10px;
        right: 10px;
        z-index: 1001;
    }

    #sidebar {
        display: none;
        position: fixed !important;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 0 20px 0;
        overflow-y: auto;
        overflow: hidden;
        z-index: 1000;
        background-color: #333;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }

    #sidebar.active {
        display: block;
    }

    #sidebar .sidebar-menu {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1001;
    }

    body.menu-active {
        overflow: hidden;
    }

    #countdowntimer {
        width: 90%;
        max-width: 300px;
        margin: 10px auto;
    }

    #countdowntimer h1 {
        font-size: 18px;
        padding: 5px;
    }

    #countdowntimer p {
        font-size: 16px;
        padding: 5px;
    }
}
