body {
    margin: 0;
    padding: 0;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-hidden {
    display: none !important;
}

main {
    margin-top:200px;
    margin-bottom:100px;
}
h1 {
    padding-top:10px;
}
h2 {
    padding-top:20px;
}

h3 {
    color:#2d4ba4;
    border-bottom:1px solid #091844;
    font-size:20px;
    font-family:arial;
    padding-top:20px;
    margin-bottom:10px;
}

#content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 320px);
    margin-left: 320px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 10px 100px 10px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    #content {
        width: 100%;
        margin-left: 0;
        padding: 15px;
        align-items: center;
    }
    
    .contentContainer {
        max-width: 100%;
        margin: 10px auto;
        padding: 15px;
    }
    
    .contentHeading {
        width: 100%;
        margin: 0 auto;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
}

.contentHeading {
    max-width:2400px;
    font-family:arial;
    padding-bottom:5px;
    margin-bottom: 5px;
    color:#17479b;
    background-color: #c5f1ff;
    text-align:center;
    border-top-style:solid;
    border-bottom-style:solid;
    border-color:#376cfd;
}

.contentContainer{
    max-width: 1800px;
    width: 100%;
    margin: 10px auto;
    text-align: left;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 18px;  
    flex: 1;
}

.contentContainer p{
    padding:10px;
}

.contentContainer h2 {
    text-align:left;
    color:#0c3f71;
    border-bottom-style:solid;
    border-color:#5252c8;
    font-size:25px;
    margin-top:20px;
    margin-bottom:20px;
}

.contentContainer ul {
    list-style-type:circle;
    padding:10px;
    margin-left:20px;
}


.contentContainer ul li{
    margin-bottom:10px;
}

#marks th, #marks td{
    width:200px;
    text-align:center;
    border:1px solid;
}

#marks th {
    background-color:lightblue;
}

table {
    border:1px solid;
    border-color:black;
    border-collapse: collapse;
    margin:20px auto 20px;
    max-width:1000px;
    width: 100%;
}

.contentContainer{
    margin-bottom:30px;
}


table tr th, table tr td {
    border:1px solid black;
    padding:10px;
} 

table tr th {
    text-align:center;
    background-color:lightblue;
}

table tr th p, table tr td p {
    margin:0px;
}

.topicButton {
    max-width:1000px;
    display:block;
    border:1px solid;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    font-size:20px;
    text-align:center;
    font-weight:bold;
    padding-top:20px;
    padding-bottom:20px;
    background-image: linear-gradient(to bottom, lightgrey, lightslategrey);
}

#CSButton:hover,  #CSButton.active {
    background-image: linear-gradient(to bottom, lightblue , rgb(73, 161, 196));
}

#SDDButton:hover,  #SDDButton.active  {
    background-image: linear-gradient(to bottom, palevioletred , rgb(179, 47, 47));
}

#WDDButton:hover,  #WDDButton.active  {
    background-image: linear-gradient(to bottom, darkseagreen , seagreen);
}

#DDDButton:hover, #DDDButton.active  {
    background-image: linear-gradient(to bottom, lightgoldenrodyellow , yellow);
}

.breakdown{
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}


.specifications th, .specifications tr td {
    border:1px solid;
    border-color:black;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
}


.specifications tr td ul {
    list-style-type:disc;
}

.specifications tr td ul li ul{
    list-style-type:square;
}

#CSBreakdown .specifications th {
    background-color:lightblue;
}

#SDDBreakdown .specifications th {
    background-color:palevioletred;
}

#WDDBreakdown .specifications th {
    background-color:lightgreen;
}

#DDDBreakdown .specifications th {
    background-color:lightyellow;
}


.specifications th {
    text-align:center;
}

.binaryTable tr th, .binaryTable tr td {
    border:solid 1px black;
    border-collapse:collapse;
    text-align:center;
    width:50px;
    height:50px;
}

.binaryTable tr th {
    background-color:lightblue;
}

.example1 {
    width:600px;
    margin:auto;
    text-align:center;
    font-size:30px;
    background-color:lightyellow;
    padding:20px;
    border:solid 1px black;
}

.rImg {
    float:right;
    padding:20px;
}

.lImg {
    float:left;
    padding:20px;
}

.cImg {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

.ImgAndText {
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content: space-between;
}

.ImgAndText img {
    padding:20px;
}

ol li {
    padding-bottom:10px;
    padding-top:10px;
    margin-left:30px;
}

.answerButton {
    border:1px solid black;
    border-radius:10px;
    padding:10px;
    background-image: linear-gradient(to bottom, lightgrey, lightslategrey);
    margin:auto;
    display:block;
    width:200px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
}

.hiddenElement {
    display:none;
}

.codeBox {
    max-width:800px;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    text-align:left;
    padding:20px;
    border:solid 1px black;
    background-color:#1c2112;
    color:white;
    font-family:"Courier New", Courier, monospace;
}

.codebox p{
    margin:0px;
    padding:0px;
}

.codeBox table, .codeBox th, .codeBox td {
    border:none;
    padding:5px;
}

.codeText {
    font-family: "Courier New", Courier, monospace;
}

.borderless table, .borderless th, .borderless td {border:none; background-color:transparent;}

.trinket {
    width:75%;
    height:400px;
    margin:20px auto;
    display:block;
}

.sideBySide {
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content: center;
    margin:20px auto;
}

@media (max-width: 768px) {
   
}

.htmlCode {
    border:1px solid black;
    margin:auto; 
    margin-top:10px;
    padding:20px;
    font-family:"Courier New", Courier, monospace;
}

.htmlCode pre{
    margin-left:-200px;
}

ul li ul li{
    list-style-type:square;
}

ul li ul li ul li {
    list-style-type:disc;
}


.laws{
    background-image: linear-gradient(to bottom, lightgrey, lightslategrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

#GDPRPrinciples li {
    width: 100%;
    max-width: 1000px;
}

#GDPRPrinciples div div{
    background-color:lightgrey;
}

#GDPRPrinciples {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width:1000px;
}
#GDPRPrinciples ol li{
    max-width:1000px;
}

#GDPRPrinciples div ul li{
    padding-right:50px;
}

.arrow {
    margin-left: auto;
}

.laws .arrow {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    transform: rotate(0deg);
    font-size: 16px;
}

.laws .arrow.rotated {
    transform: rotate(90deg);
}

.law-content {
    transition: all 0.5s;
    padding-left: 20px;
}




/* Mobile Styles */
@media (max-width: 768px) {
    table {
        display: block;
        border:none;
        overflow-x: auto;
        white-space: wrap;
        -webkit-overflow-scrolling: touch;
        font-size: 12px;
        max-width: 600px;
    }

    table th, table td {
        padding: 5px;
        max-width:400px;
    }

    img {
        max-width: 400px;
        height: auto;
    }

    .ImgAndText {
        flex-direction: column;
    }

    .ImgAndText img {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
    }

    .topicButton {
        width: 100%;
        max-width: 100%;
    }

    .contentContainer img {
        max-width: 400px;
        height: auto;
        margin: 10px auto;
        display: block;
    }

    .rImg, .lImg, .cImg {
        float: none;
        margin: 10px auto;
        display: block;
    }

    .breakdown {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        padding: 5px;
    }
    .breakdown table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        font-size: 10px;
        width: 100%;
        max-width: 100%;
    }

    .breakdown th, .breakdown td {
        padding: 5px;
    }
    .breakdown table td {
        white-space: nowrap;
    }

    .specifications {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        font-size: 12px;
        width: 100%;
        max-width: 100%;
    }

    .specifications th, .specifications td {
        padding: 5px;
    }

    .sideBySide {
        flex-direction: column;
    }
}
