body {
    margin: 0;
    padding: 0;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-hidden {
    display: none !important;
}

main {
    margin-top:200px;
    margin-bottom:100px;
}


#content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 320px);
    margin-left: 320px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 10px 100px 10px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    #content {
        width: 100%;
        margin-left: 0;
        padding: 15px;
        align-items: center;
    }
    
    .contentContainer {
        max-width: 100%;
        margin: 10px auto;
        padding: 15px;
    }
    
    .contentHeading {
        width: 100%;
        margin: 0 auto;
    }
    
    table {
        width: 100%;
        max-width: 100%;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
}

.contentHeading {
    max-width:1400px;
    font-family:arial;
    padding-bottom:5px;
    margin-bottom: 5px;
    color:#17479b;
    background-color: #c5f1ff;
    text-align:center;
    border-top-style:solid;
    border-bottom-style:solid;
    border-color:#376cfd;
}

.contentContainer{
    max-width: 1200px;
    width: 90%;
    margin: 10px auto;
    text-align: left;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 16px;  
    flex: 1;
}

@media (max-width: 768px) {
    .contentContainer {
        padding: 5px;
        font-size: 14px;
    }
    
    .contentContainer img {
        max-width: 100%;
        height: auto;
    }
    
    .contentContainer table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.contentContainer p{
    padding:10px;
}

.contentContainer h2 {
    text-align:left;
    color:#0c3f71;
    border-bottom-style:solid;
    border-color:#5252c8;
    font-size:25px;
    margin-top:20px;
    margin-bottom:20px;
}

.contentContainer ul {
    list-style-type:circle;
    padding:10px;
    margin-left:20px;
}


.contentContainer ul li{
    margin-bottom:10px;
}

#marks th, #marks td{
    width:200px;
    text-align:center;
    border:1px solid;
}

#marks th {
    background-color:lightblue;
}

table {
    border:1px solid;
    border-color:black;
    border-collapse: collapse;
    margin:5px auto;
    max-width:800px;
    width: 100%;
}

@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        font-size: 12px;
        width: 100%;
        max-width: 100%;
    }
    
    table th, table td {
        padding: 5px;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .ImgAndText {
        flex-direction: column;
    }
    
    .ImgAndText img {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
    }
    
    .topicButton {
        width: 100%;
        max-width: 100%;
    }

    .contentContainer img {
        max-width: 100%;
        height: auto;
        margin: 10px auto;
        display: block;
    }

    .rImg, .lImg, .cImg {
        float: none;
        max-width: 100%;
        margin: 10px auto;
        display: block;
    }
}

th, td {
    border:1px solid black;
    padding:10px;
} 

th {
    text-align:center;
    background-color:lightblue;
}

.topicButton {
    width:800px;
    display:block;
    border:1px solid;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    font-size:20px;
    text-align:center;
    font-weight:bold;
    padding-top:20px;
    padding-bottom:20px;
    background-image: linear-gradient(to bottom, lightgrey, lightslategrey);
}

#CSButton:hover,  #CSButton.active {
    background-image: linear-gradient(to bottom, lightblue , rgb(73, 161, 196));
}

#SDDButton:hover,  #SDDButton.active  {
    background-image: linear-gradient(to bottom, palevioletred , rgb(179, 47, 47));
}

#WDDButton:hover,  #WDDButton.active  {
    background-image: linear-gradient(to bottom, darkseagreen , seagreen);
}

#DDDButton:hover, #DDDButton.active  {
    background-image: linear-gradient(to bottom, lightgoldenrodyellow , yellow);
}

.breakdown{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

@media (max-width: 768px) {
    .breakdown {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        padding: 5px;
    }
    .breakdown table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        font-size: 10px;
        width: 100%;
        max-width: 100%;
    }
    
    .breakdown th, .breakdown td {
        padding: 5px;
    }
    .breakdown table td {
        white-space: nowrap;
    }
}

.specifications th, .specifications tr td {
    border:1px solid;
    border-color:black;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
}

@media (max-width: 768px) {
    .specifications {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        font-size: 12px;
        width: 100%;
        max-width: 100%;
    }
    
    .specifications th, .specifications td {
        padding: 5px;
    }
}

.specifications tr td ul {
    list-style-type:disc;
}

.specifications tr td ul li ul{
    list-style-type:square;
}

#CSBreakdown .specifications th {
    background-color:lightblue;
}

#SDDBreakdown .specifications th {
    background-color:palevioletred;
}

#WDDBreakdown .specifications th {
    background-color:lightgreen;
}

#DDDBreakdown .specifications th {
    background-color:lightyellow;
}


.specifications th {
    text-align:center;
}

.binaryTable tr th, .binaryTable tr td {
    border:solid 1px black;
    border-collapse:collapse;
    text-align:center;
    width:50px;
    height:50px;
}

.binaryTable tr th {
    background-color:lightblue;
}

.example1 {
    width:600px;
    margin:auto;
    text-align:center;
    font-size:30px;
    background-color:lightyellow;
    padding:20px;
    border:solid 1px black;
}

.rImg {
    float:right;
    padding:20px;
}

.lImg {
    float:left;
    padding:20px;
}

.cImg {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

.ImgAndText {
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content: space-between;
}

.ImgAndText img {
    padding:20px;
}

ol li {
    padding-bottom:10px;
    padding-top:10px;
    margin-left:30px;
}